header h1 {
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 2.5rem;
}

.blog-section {
    color: white;
    background-color: #0E1C36;
    text-align: center;
    border-radius: 0.625rem;
    border: 0.1rem solid #4b4b4b;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

header h3::before {
    content: "";
    display: block;
    width: 3rem;
    height: 0.07rem;
    background: rgba(255, 255, 255, 0.3);
    margin: 1.5rem 0 0.75rem;
    margin-top: 3rem;
}

header h3 {
    font-size: 1.5rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
}

header h2 {
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.5rem;
}

.blog-section p, .blog-section h3 {
    text-align: left;
}

.blog-section p {
    font-family: "DM Sans", sans-serif;
    font-size: 0.875rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: 1rem auto;
}