header {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0E1C36;
    overflow-x: none;
}

header h1, header p {
    margin: 0;
}

header p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
}

header h1 {
    font-family: 'Jersey 10', sans-serif;
    font-size: clamp(4rem, 8vw, 8rem);
    text-align: center;
    margin: 0;
    width: 100%;
}