#blog-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
}

#blog-subtitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: #cccccc;
    text-align: center;
}

#blog-footer {
    margin-top: 3rem;
    color: #cccccc;
    text-align: center;
}