:root {
  --nav-height: 10vh;
  --nav-height: 10dvh;
}

pre code {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1em;
  width: auto;
  border-radius: 1rem;
  text-align: left;
  margin: 0 2rem;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: #4d8dff;
  transition-duration: 1s;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #00e7e7;
  color: #2fdada;
}

html,
body {
  min-height: 100%;
  width: 100%;
  color: white;
  margin: 0;
  padding: 0;
}
