body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

html, body {
    height: 100%;
    width: 100dvw;
    width: 100vw;
    scrollbar-width: none;
    color: white;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}