:root {
    display: flex;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.post {
    color: white;
    background-color: #0E1C36;
    text-align: center;
    border-radius: 0.625rem;
}

#featured-post {
    box-shadow: 0 0 2.1875rem 0.3125rem rgba(255, 255, 255, 0.78);
    padding: 1.1875rem;
}

.post-list {
    flex: 1;
    padding-left: 2.625rem;
    padding-right: 2.625rem;
    list-style: none;
}

#featured-title {
    font-family: "Jersey 10", sans-serif;
    font-size: 2.5rem;
    margin: 0;
}

#featured-desc {
    font-family: "DM Sans", sans-serif;
    font-size: 1.25rem;
}

.post-desc {
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
}

#recent-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#older-posts, #recent-posts {
    padding: 0;
}

.recent-post, .older-post {
    border: 0.1rem solid #4b4b4b;
}

.recent-post {
    padding: 1.375rem 7.5rem 1.375rem 7.5rem;
    width: 15.125rem;
    height: 12.5rem;
}

.recent-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
}

.recent-title {
    font-size: 1.5rem;
    font-weight: 800;
    font-family: "DM Sans", sans-serif;
}

.seperator {
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 2.5rem;
}

#older-posts {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-bottom: 2.5rem;
}

.older-post {
    position: relative;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

.older-desc {
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
}

.older-title {
    position: absolute;
    top: 0;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    left: 1.2rem;
    transform: translateY(-125%);
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    background: linear-gradient(
        to bottom,
        #10254D 0%,
        #10254D 50%,
        #0E1C36 50%,
        #0E1C36 100%
    );
}